@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.outline-text-white {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.grid-system-container {
  @apply grid-cols-12 grid-rows-8 grid min-w-[100vw] gap-x-4 h-full gap-y-4 box-border;
}

/* Zen Maru Gothic */

@font-face {
  font-family: "Zen Maru Gothic";
  src: url("/fonts/ZenMaruGothic-Regular.ttf");
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "Zen Maru Gothic";
  src: url("/fonts/ZenMaruGothic-Bold.ttf");
  font-weight: 700;
  font-display: fallback;
}

/* Ed Mentasta */

@font-face {
  font-family: "Ed Mentasta";
  src: url("/fonts/ed-mentasta-regular.otf");
  font-display: fallback;
}

/* Junicode */

@font-face {
  font-family: "Junicode";
  src: url("/fonts/Junicode.ttf");
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "Junicode";
  src: url("/fonts/Junicode-Bold.ttf");
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: "Junicode";
  src: url("/fonts/Junicode-Italic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Junicode";
  src: url("/fonts/Junicode-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: fallback;
}

/* Junicode Condensed */

@font-face {
  font-family: "Junicode Condensed";
  src: url("/fonts/Junicode-RegularCondensed.ttf");
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "Junicode Condensed";
  src: url("/fonts/Junicode-ItalicCondensed.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Junicode Condensed";
  src: url("/fonts/Junicode-BoldCondensed.ttf");
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: "Junicode Condensed";
  src: url("/fonts/Junicode-BoldItalicCondensed.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: fallback;
}
